*{
    margin:0;
    padding:0;
}
body{
    background: #EEEBE7;    
}
.cv-container{
    margin: 50px;
    padding: 35px;
    /* border: 2px solid #41424a; */
    color: #41424a;
    font-family: wilmina;
    background: white;
    display:grid;
    /* grid-template: none | <grid-template-rows> / <grid-template-columns>; */
    grid-template: auto auto /auto auto;
}
.doc-foto{
    height: 150px;
	width: 150px;
    margin:10px;
	object-fit: cover;
    border-radius: 50%;	
    object-position: 0% 10%;
}

h3{
    text-transform: uppercase;
}
h1{
    font-size: 50px;
}
/* grid-area: <name> | <row-start> / <column-start> / <row-end> / <column-end>; */


.img-container{
    grid-area: 1/1/2/2;
    /* border: 2px solid blue; */
    text-align: center;
    margin-right: 10px;
    }
.header{
grid-area: 1/2/2/3;
/* border: 2px solid red; */
display: inline-flex;
flex-direction: column;
justify-content: space-between;
}
.contacts{
        /* border: 2px solid blue; */
        text-align: right;

}
.heading{
         /* border: 2px solid yellow;    */
         text-align: right;
}

.skills{
    grid-area: 2/1/3/2;
    /* border: 2px solid yellow; */
    padding-right: 10px;
    margin-top: 10px;
    border-right: 1px solid #41424a;
    max-width: 450px;
    }
.experience{
    grid-area: 2/2/3/3;
    padding-left: 10px;
    /* border: 2px solid green; */
    margin-top: 10px;
    max-width: 900px;
    }

    @media(max-width:890px){
        h1{
            font-size: 40px;
        }
    
    }
    @media(max-width:790px){
        h1{
            font-size: 35px;
        }
    
    }
    @media(max-width:690px){
        h1{
            font-size: 30px;
        }
    
    }
    @media(max-width:590px){
        h1{
            font-size: 25px;
        }
    
    }