body{
    margin:0;
	background-color: #241f1f;
	width: 100%;
	height: 100vh;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.album{
	margin: 90px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: start;
	/* background-color: #EEEBE7;	 */
}

.albumHidden{
	display: none;
}


.previewImg{
	height: 150px;
	width: 150px;
	/* border: 3px solid white; */
	margin:10px;
	object-fit: cover;
	border-radius: 2px;

}

.previewImg:hover{
	cursor: pointer;
    height: 170px;
	width: 170px;
	margin: 0px
}

#imgtext{
	position: relative;
	bottom: 15px;
	color: #241f1f;
	font-size: 16px;
	background-color: #EEEBE7;
	height: 7vh;
	/* border-top:1px solid #241f1f; */
	text-align: justify;
	padding: 10px;
	padding-left: 5vw;
	padding-right: 5vw;

}


.navbuttons{
	fill: #241f1f;
}
.closebtn{
	position: absolute;
	top: 10px;
	right: 15px;
	cursor: pointer;
}
.closebtn svg {
	height:29.08px;
}

.forwardbtn{
	height: 4.694px;
	position: absolute;
	top: 40vh;
	right: 15px;
	cursor: pointer;
}
.forwardbtn svg{
	height: 46.94px;
}

.backbtn{
	position: absolute;
	top: 40vh;
	left: 15px;
	cursor: pointer;
}
.backbtn svg{
	height: 46.94px;
}

.imgContainer {
	margin: 0;
	margin-top: 6vh;
	margin-bottom: 7vh;
	position: relative;
	height: 80vh;
	width: 100vw;
	display: none;
	background-color: #EEEBE7;
	text-align: center;

}
.expImg{
	height: calc(100%);
	margin: 0 auto;
}
.hiddenImg{
display: none;
}

/* .album img:nth-child(1){
	object-position: 0% 100%;
}
.album img:nth-child(2){
	object-position: 0% 100%;
}
.album img:nth-child(3){
	object-position: 100% 0%;
}
.album img:nth-child(4){
	object-position: 0% 100%;
}
.album img:nth-child(5){
	object-position: 100% 0%;
}
.album img:nth-child(6){
	object-position: 80% 100%;
}
.album img:nth-child(7){
	object-position: 0% 0%;
}
.album img:nth-child(8){
	object-position: 0% 100%;
}
.album img:nth-child(9){
	object-position: 0% 100%;
}
.album img:nth-child(10){
	object-position: 0% 102%;
}
.album img:nth-child(11){
	object-position: 0% 0%;
}
.album img:nth-child(12){
	object-position: 100% 0%;
}
.album img:nth-child(13){
	object-position: 100% 20%;
}
.album img:nth-child(14){
	object-position: 40% 0%;
}
.album img:nth-child(15){
	object-position: 20% 100%;
}
.album img:nth-child(16){
	object-position: 100% 40%;
}
.album img:nth-child(17){
	object-position: -2% 100%;
}
.album img:nth-child(18){
	object-position: 0% 100%;
}
.album img:nth-child(19){
	object-position: 0% 100%;	
}
.album img:nth-child(20){
	object-position: 50% 100%;
}
.album img:nth-child(21){
	object-position: 42% 100%;
} */
	

