body{
    margin:0;
	background-color: #948d99;
	width: 100%;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	display: inline-flex;
	flex-wrap: wrap;

}


.album{
	margin: 90px;
	margin-top: 10px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	/* background-color: #EEEBE7;	 */
	text-align: center;
}


.previewImg{
	height: 150px;
	width: 150px;
	border: 3px solid white;
	margin:10px;
	object-fit: cover;
	border-radius: 2px;

}

.previewImg:hover{
	cursor: pointer;
    height: 170px;
	width: 170px;
	margin: 0px
  
}

.text{
	text-align: justify;
	width: 70%;
	margin: 100px;
	padding: 10px;
	margin-bottom: 0;
	color:  #EEEBE7;
}

#imgtext{
	display: none;
	position: absolute;
	bottom: 15px;
	color: #EEEBE7;
	font-size: 18px;
	background-color: red;

}
.closebtn{
	position: absolute;
	top: 10px;
	right: 15px;
	color: #948d99;
	font-size: 35px;
	cursor: pointer;
}


.imgContainer {
	position: relative;
	height: 80vh;
	width: 100%;
	display: none;
	margin: 100px;
	margin-bottom: 0;
	background-color: #EEEBE7;
	text-align: center;

}
.expImg{
	height: calc(100% - 10px);
	border: 5px solid white;
	border-radius: 2px;
	margin: 0 auto;
}
	

