/* "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif; */

body{
    margin:none;
    background-color:#8A9A9A ;
}
.letters{
    fill:#EEEBE7;
}
.lines{
    fill:none;
    stroke:#EEEBE7;
    stroke-width:3;
    stroke-miterlimit:10;
}
.buttonshapes{
    fill:#8A9A9A;
    stroke:#EEEBE7;
    stroke-width:3;
    stroke-miterlimit:10;
}
.buttonshapes:hover{
    fill:#948d99;
    cursor: pointer;
}
.hiddenbuttons{
display: none;
}
.visiblebuttons{
    display: block;
    transition: 2s;
}
.different{
    fill:#948d99;
}








