body{
    margin:0;
	background-color: #948d99;
	width: 100%;
	height: 100vh;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.album{
	margin: 90px;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: start;
	/* background-color: #EEEBE7;	 */
}

.albumHidden{
	display: none;
}


.previewImg{
	height: 150px;
	width: 150px;
	/* border: 3px solid white; */
	margin:10px;
	object-fit: cover;
	border-radius: 2px;

}

.previewImg:hover{
	cursor: pointer;
    height: 170px;
	width: 170px;
	margin: 0px
}

#imgtext{
	position: relative;
	bottom: 15px;
	color: #241f1f;
	font-size: 16px;
	background-color: #EEEBE7;
	height: 7vh;
	/* border-top:1px solid #241f1f; */
	text-align: justify;
	padding: 10px;
	padding-left: 5vw;
	padding-right: 5vw;

}
.closebtn{
	position: absolute;
	top: 10px;
	right: 15px;
	color: #241f1f;
	font-size: 35px;
	cursor: pointer;
}

.forwardbtn{
	position: absolute;
	top: 40vh;
	right: 15px;
	color: #241f1f;
	font-size: 35px;
	cursor: pointer;
}
.backbtn{
	position: absolute;
	top: 40vh;
	left: 15px;
	color: #241f1f;
	font-size: 35px;
	cursor: pointer;
}

.imgContainer {
	margin: 0;
	margin-top: 6vh;
	margin-bottom: 7vh;
	position: relative;
	height: 80vh;
	width: 100vw;
	display: none;
	background-color: #EEEBE7;
	text-align: center;

}
.expImg{
	height: calc(100%);
	margin: 0 auto;
}
.hiddenImg{
display: none;
}

/* .album img:nth-child(1){
	object-position: 0% 100%;
}

.album img:nth-child(21){
	object-position: 42% 100%;
} */
	

