

body{
    background-color:#8a9a9a;
    margin: 100px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns:  
    156px 
    minmax(20px, auto)
    150px
    51.5px
    54.5px
    150px
    minmax(20px, auto) 
    206px ;
    grid-template-rows: 
    125px 
    40px  
    39.5px 
    76.6px 
    125px 
    minmax(30px, auto) 
    110px; 
    grid-template-areas: 
    ".  .       logo logo       logo  logo .         ."
    "cv .       logo logo       logo  logo .         ."
    "cv cv-line logo logo       logo  logo port-line port"
    "cv .       logo logo       logo  logo .         port"
    ".  .       logo logo       logo  logo .         port"
    ".  .       .    hobby-line .     .    .         port"
    ".  .       .    hobby      hobby .    .         port";


}
.logo{
    grid-area: logo;
    width: 400px;
    height: 400px;
    border: 3px solid #eeebe7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.portfolios{
grid-area: port;
}

#portfoliobox,
#portfoliotitle, 
.hobby,
.cv{
    border: 3px solid #eeebe7;
    color: #eeebe7;
    text-transform: uppercase;
    width: 200px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#portfoliobox{
    margin-top: 20px;
}
.cv{
    grid-area: cv;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-size:xx-large;
}
.hobby{
    grid-area: hobby;
    height: 100px;
    width: 100px;
    font-size:x-large;
    
}

.cv:hover,
#portfoliobox:hover,
.hobby:hover{
    cursor: pointer;
    background-color: #948d99;
}



#cv-line,
#port-line
{
    border-bottom:3px solid #eeebe7;
}
#cv-line{
grid-area: cv-line;
}
#port-line{
grid-area: port-line;
}
#hobby-line{
grid-area: hobby-line;
border-right:3px solid #eeebe7;
align-content: center;
}


