body{
    margin:0px;
    background-color: #8a9a9a;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", "Proxima Nova", Helvetica, Corbel, sans-serif;
    color: #EEEBE7;
}


.m{
    fill:none;
    animation: fill 7s ease forwards;
}

.inner-c,
.outer-c,
.line{
    fill:none;
    stroke:#EEEBE7;
    stroke-width:2;
    stroke-miterlimit:10;
}

.inner-c{
    fill: #8a9a9a;
    
}

.inner-c:hover{
    fill:#948d99;
    cursor: pointer;
}
.logo{
    width: 30%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inner-c{
    stroke-dasharray: 1274.468505859375px;
    stroke-dashoffset: 1274.468505859375px;
    animation: line-anim 4s ease forwards;
}
.outer-c{
    stroke-dasharray: 1274.468505859375px;
    stroke-dashoffset: 1274.468505859375px;
    animation: line-anim 2s ease forwards;
}

.line{
    stroke-dasharray: 25.45001220703125px;
    stroke-dashoffset: 25.45001220703125;
    /* animation: line-anim 1.5s ease forwards;
    animation-delay: 2s; */
}
.logo line:nth-child(4){
    animation: line-anim 1s ease forwards;
    animation-delay: 2s;
}
.logo line:nth-child(5){
    animation: line-anim 1s ease forwards;
    animation-delay: 2s;
}
.logo line:nth-child(6){
    animation: line-anim 1s ease forwards;
    animation-delay: 2.5s;
}
.logo line:nth-child(7){
    animation: line-anim 1s ease forwards;
    animation-delay: 2.5s;
}


@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill {
    from{
        fill:transparent;
    }
    to{
        fill:#EEEBE7;
    }
}

.hide{
    display: none;
}

@media(max-width:700px){
    .logo{
        width: 70%;
    }

}